@font-face {
    font-family: eca-fonts;
    src: url(../global/eca-fonts-a.ttf);
   }
   html {
    --top-spacing: 200px;
  }

body{
    scroll-padding-top: var(--top-spacing);
    font-family:'eca-fonts',"Lato", sans-serif; 
    color: #25265e;
    margin: var(--top-spacing) 0;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 ,a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-space {
    min-height: 400px;
    width: 100%;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.table {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border: #e1e8f1 1px solid;
    border-radius: 6px;
    
    box-shadow: 1px 2px 3px rgb(167, 167, 167);
}
.table .table-header {
}
.table .table-body {
}
.table .table-body  h3 {
    border-bottom: #e1e8f1 1px solid;
}
.table .table-body  h3 a{
  font-weight: 700;
  font-kerning: inherit;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  color: #051833;
  display: flex;
  justify-content: flex-start;
  padding: 20px 100px;
}
.table .table-body  h3 a:hover{
    box-shadow: 2px 1px 2px #41463f;
    color: #1e2727;
}
.table .table-footer {
    
}

.content-container {
    width: 70%;
}

.abt-pg{
  padding: 30px;
  line-height: 26px;
  word-spacing: 4px;   
  font-kerning: normal;
}

.airPlayIcon {
    font-size: 200px;
    color: aquamarine;
    
    transition:all 1s ease-out;
  }

  .airPlayIcon:hover {
    color: rgb(12, 42, 32);
    transition:all 1s ease-in;
  }

  .hrc-bottom{
      color: rgba(37,38,94,.5);
      border-radius: 3px;
  }
p{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
  .ct-h-p{
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
  }

  .ct-d-p{

    color: rgba(37,38,94,.7);
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 30px;
  }

  .table-icon {
    display: none;
    position: fixed;
    top:200px;
    right: 0px;
}
.table-icon:hover{
    cursor: pointer;
}
.menu-open-icon{
    font-size: 25px;
    background-color: antiquewhite;
    color: rgb(70, 60, 78);
}
  @media (max-width: 768px){
    .page-content {
        flex-direction: column;
    }
    .table-container {
        width: 100%;
        display: none;
    }
    .table {
        border:0;
        box-shadow: 0;
    }
    .content-container{
        width: 100%;
    }
    .table-icon {
        display: block;
    }

    .MO-clicked{
        display:flex !important;
        flex-flow: column wrap;
        top:50px;
        right: 0px;
        z-index: 1;
        width: 90%;
        height:100%;
        justify-content: space-around;
        position: absolute;
        background-color: #c0b49c;
        box-shadow: 0 10px 10px -5px gray;
        animation: MO-menu-anim .5s 1 ease-in;
        border: 0;
        position: fixed;
    }
   
    .MO-close{
        right:90%;
        animation: MO-menu-anim .5s 1 ease-in;
        border: 0;
    }
    @keyframes MO-menu-anim {
        from {
            right: -500px;
        }
        to {
            right: 0px;
        }
    }
    .header .navbar .container-fluid .navbar-header{
        padding: 20px;
    } 
    .header .navbar .container-fluid .nav li a{
        padding: 20px;
    }
    .MO-menu {
        display:block;
    }
  }