

h1, h2, h3, h4, h5, h6 ,a{
    font-family:'eca-fonts',"Lato", sans-serif;
    margin: 0;
    color: #25265e;
}

.page-space {
    min-height: 400px;
    width: 100%;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.table {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border: #e1e8f1 1px solid;
    border-radius: 6px;
    
    box-shadow: 1px 2px 3px rgb(167, 167, 167);
}
.table .table-header {
}
.table .table-body {
}
.table .table-body  h3 {
    border-bottom: #e1e8f1 1px solid;
}
.table .table-body  h3 a{
  font-weight: 700;
  font-kerning: inherit;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  color: #051833;
  display: flex;
  justify-content: flex-start;
  padding: 20px 100px;
}
.table .table-body  h3 a:hover{
    box-shadow: 2px 1px 2px #41463f;
    color: #1e2727;
}
.table .table-footer {
    
}

.content-container {
    width: 70%;
}

.abt-pg{
  padding: 30px;
  line-height: 26px;
  word-spacing: 4px;   
  font-kerning: normal;
}

.airPlayIcon {
    font-size: 200px;
    color: aquamarine;
    
    transition:all 1s ease-out;
  }

  .airPlayIcon:hover {
    color: rgb(12, 42, 32);
    transition:all 1s ease-in;
  }

  .hrc-bottom{
      height: 1px;
      background-color: #3a4452;
      border-radius: 3px;
  }

  .ct-h-p{
      font-size: 30px;
      font-weight: 600;
  }