
html {
  --top-spacing: 100px;
}

body {
  scroll-padding-top: var(--top-spacing);
  font-family: 'eca-fonts',"Lato", sans-serif;
  
  margin: var(--top-spacing) 0;
  -webkit-font-smoothing: antialiased;
}
input{
  font-family: 'eca-fonts',"Lato", sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}

.page-content {
  width: 80%;
  margin: 150px 50px auto;
  color:rgba(31, 29, 29, 0.753);
}

@media only screen and (max-width: 1080px) {

}
@media only screen and (max-width: 767px) {
  

}