@font-face {
  font-family: eca-fonts;
  src: url(../global/eca-fonts-a.ttf);
 }

.top-spacing {
  display: block;
  width: 100%;
  height: 100px;
}

.body-cards-div {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap:2.5vw 2.5vw;
}

.card {
  width: 10rem;
  height: 11rem;
  justify-content: space-evenly;
}

.card-background-1 {
background-image: url(../../global/card-overloay-a.png);
}
.card-background-2 {
background-image: url(../../global/card-overloay-b.png);
}
.card-background-3 {
background-image: url(../../global/card-overloay-c.png);
}